<div class="panel panel-default">
	<div class="panel-heading">
		<header>{{name}}</header>
	</div>
	<div class="panel-body no-top-padding">
		<div class="layout layout-align-center-vertical">
			<div>
				<button type="button" class="btn btn-lg" ng-class="elementStatus.latest ? 'btn-danger' : 'btn-info'" ng-attr-data-toggle="elementStatus.latest" ng-click="toggleElementStatus()">
					{{ elementStatus.latest ? "ON" : "OFF" }}
				</button>
				<button type="button" class="btn btn-lg" ng-class="elementOverride.latest ? 'btn-danger' : 'btn-info'" ng-attr-data-toggle=elementOverride.latest" ng-click="toggleElementOverride()" ng-if="elementOverride.latest" >
					{{ elementOverride.latest ? "OVERRIDDEN" : "RELEASED" }}
				</button>
			</div>
		</div>
	</div>
</div>