<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
		<title>Joule - Dashboard</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<!-- Bootstrap Core CSS - Include with every page -->
		<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

		<!-- Bemat Admin CSS - Include with every page -->
		<link href="{{ static_url("css/themes/theme-default/bemat-admin.min.css") }}" rel="stylesheet" id="theme-switcher">

		<!-- Documentation Prettify -->
		<link href="{{ static_url("vendor/google-code-prettify/prettify-tomorrow.css") }}" rel="stylesheet" />
		
		<!-- Dashboard Level NVD3 Charts -->
		<link href="{{ static_url("vendor/nvd3/nv.d3.css") }}" rel="stylesheet">
		
		<script data-main="{{ static_url("js/require.config.js") }}" src="{{ static_url("js/third-party/require.js") }}"></script>
		
	</head>

	<body class="dark-sidebar dark-header-brand container-fluid">
		<div id="page-wrapper" ng-controller="dashboardController">
			{% module navigationSidebar() %}
			<section id="right-content">
				<header class="header-container">
					<div class="header-wrapper">
						<div id="header-toolbar">
							<ul class="toolbar toolbar-left">
								<li>
									<a id="sidebar-toggle" data-state="open" href="#"><i class="material-icons">menu</i></a>
								</li>
							</ul>

							<div id="searchbox">
								<span class="search-icon"><i class="material-icons">search</i></span>
								<input id="search-input" placeholder="Search" type="text" />
							</div>

							<ul class="toolbar toolbar-right">
								<li>
									<a href="#" id="fullscreen-toggle" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen"><i class="material-icons">fullscreen</i></a>
								</li>
								<li id="user-profile" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<div class="avatar">
											<img src="{{ static_url("img/avatar.png") }}" class="img-circle img-responsive" />
										</div>
										<div class="user">
											<span class="username">John Doe</span>
										</div>
										<span class="expand-ico"><i class="material-icons">expand_more</i></span>
									</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="material-icons">person</i>Your Profile</a></li>
										<li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="material-icons">lock</i> Lock</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="material-icons">exit_to_app</i> Log Out</a></li>
									</ul>
								</li><!-- /#user-profile -->
							</ul><!-- /.navbar-right -->					


						</div>
					</div><!-- /#header-toolbar -->
				</header>
				<section id="right-content-wrapper">
					<section class="page-header alternative-header">
						<ol class="breadcrumb">
							<li>Joule</li>
							<li>{{ brewery.name }} ({{ brewery.location }})</li>
							<li>Dashboard</li>
						</ol>
						<div class="page-header_title">
							<h1>
								Dashboard
								<!-- <span class="page-header_subtitle">Welcome Back John Doe</span> -->
							</h1>
						</div>
					</section>

					<section class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Status ({{"{{"}}currentStatus.latest}})</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="row">
											<div class="col-xs-4">
												<p>Now:{{"{{"}} currentStatusText }}</p>
												<p>Next:{{"{{"}} nextStatusText }}</p>
											</div>
											<div class="col-xs-4">
												<dial ng-if="timerActive" title="'Time Left'" value="boilKettleDutyCycle.latest" />
											</div>
											<div class="col-xs-4">
												<button class="btn btn-lg btn-info"    ng-click="adjustState(-1)">Previous</button>
												<button class="btn btn-lg btn-success" ng-click="adjustState(+1)">Next</button>
											</div>
										</div>
									</div>
								</div>
							</div>	
						</div>

						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Temperatures</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="row">
											<div class="col-xs-12">
												<div id="chart">
													<svg class="height-5"></svg>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>							
							<div class="col-lg-3 col-sm-6">
								<div class="row"><div class="col-sm-12"><value-card title="'Electric Load'" value="boilKettlePower.latest" units="'kW'""/></div></div>
								<div class="row"><div class="col-sm-12"><value-card title="'Energy Consumption'" value="systemEnergy.latest" value-alternate="systemEnergyCost.latest" units="'Wh'" units-alternate="'$'"/></div></div>
								<div class="row"><div class="col-sm-12"><value-card title="'Boil Kettle Temperature'" value="boilTemperatureActual.latest" value-alternate="boilTemperatureSetPoint.latest" units="'&deg;F'"/></div></div>
								<div class="row"><div class="col-sm-12"><value-card title="'Mash Tun Temperature'" value="mashTemperatureActual.latest" value-alternate="mashTemperatureSetPoint.latest" units="'&deg;F'"/></div></div>							
							</div>
							<div class="col-lg-3 col-sm-6"><dial title="'Power'" value="boilKettleDutyCycle.latest" /></div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-xs-6"><toggleable-element name="'Heating Element Status'" recipe-instance="recipeInstance" sensor-name="'boilKettle__heatingElementStatus'"/></div>
							<div class="col-lg-3 col-xs-6"><toggleable-element name="'Pump Status'" recipe-instance="recipeInstance" sensor-name="'pumpStatus'"/></div>
							<div class="col-lg-6 col-xs-12">
								<div class="panel panel-default panel-divider">
									<div class="panel-heading">
										<header>Your Task List</header>
									</div>
									<div class="panel-body no-padding">
										<div class="tasks-list height-5" data-toggle="subheader">
											<section>
												<div class="list-subheader" data-mode="sticky">To Do Tasks</div>
												<ul class="list">
													<li class="list-item list-1-line" ng-repeat="task in tasks">
														<div class="list-icon"><input class="checkbox checkbox-primary" type="checkbox" /></div>
														<div class="list-item-text layout-column"><h3>{{"{{"}}task.name}}</h3></div>
														<button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
													</li>
												</ul>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>


					</section><!-- /#page-content -->

				</section><!-- /#right-content -->
			</section><!-- /#right-content-wrapper -->

		</div>
	</body>
</html>