<!DOCTYPE html>
<html ng-app="app">
    <head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
		<title>Joule - Dashboard</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

		<!-- Bootstrap Core CSS - Include with every page -->
		<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">

		<!-- Bemat Admin CSS - Include with every page -->
		<link href="{{ static_url("css/themes/theme-default/bemat-admin.min.css") }}" rel="stylesheet" id="theme-switcher">

		<!-- Documentation Prettify -->
		<link href="{{ static_url("vendor/google-code-prettify/prettify-tomorrow.css") }}" rel="stylesheet" />
		
		<!-- Dashboard Level NVD3 Charts -->
		<script src="{{ static_url("vendor/d3/d3.v3.js") }}" charset="utf-8"></script>
		<script src="{{ static_url("vendor/nvd3/nv.d3.js") }}" type="text/javascript"></script>
		<link href="{{ static_url("vendor/nvd3/nv.d3.css") }}" rel="stylesheet">
	</head>

	<body class="dark-sidebar dark-header-brand container-fluid">
		<div id="page-wrapper" ng-controller="dashboardController">
			{% module navigationSidebar() %}
			<section id="right-content">
				<header class="header-container">
					<div class="header-wrapper">
						<div id="header-toolbar">
							<ul class="toolbar toolbar-left">
								<li>
									<a id="sidebar-toggle" data-state="open" href="#"><i class="material-icons">menu</i></a>
								</li>
							</ul>

							<div id="searchbox">
								<span class="search-icon"><i class="material-icons">search</i></span>
								<input id="search-input" placeholder="Search" type="text" />
							</div>

							<ul class="toolbar toolbar-right">
								<li>
									<a href="#" id="fullscreen-toggle" data-toggle="tooltip" data-placement="bottom" title="Toggle Fullscreen"><i class="material-icons">fullscreen</i></a>
								</li>
								<li id="user-profile" class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<div class="avatar">
											<img src="{{ static_url("img/avatar.png") }}" class="img-circle img-responsive" />
										</div>
										<div class="user">
											<span class="username">John Doe</span>
										</div>
										<span class="expand-ico"><i class="material-icons">expand_more</i></span>
									</a>
									<ul class="dropdown-menu dropdown-menu-right">
										<li><a href="#"><i class="material-icons">person</i>Your Profile</a></li>
										<li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="material-icons">lock</i> Lock</a></li>
										<li class="divider"></li>
										<li><a href="#"><i class="material-icons">exit_to_app</i> Log Out</a></li>
									</ul>
								</li><!-- /#user-profile -->
							</ul><!-- /.navbar-right -->					


						</div>
					</div><!-- /#header-toolbar -->
				</header>
				<section id="right-content-wrapper">
					<section class="page-header alternative-header">
						<ol class="breadcrumb">
							<li>Joule</li>
							<li>{{ brewery.name }} ({{ brewery.location }})</li>
							<li>Dashboard</li>
						</ol>
						<div class="page-header_title">
							<h1>
								Dashboard
								<span class="page-header_subtitle">Welcome Back John Doe</span>
							</h1>
						</div>
					</section>

					<section class="page-content">

						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Temperatures</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="row">
											<div class="col-lg-12">
												<div id="chart">
													<svg class="height-5"></svg>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>							
							<div class="col-lg-3 col-sm-6">
								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body no-padding">
												<div class="mini-card mini-card-primary">
													<div class="mini-card-left">
														<span>Power Usage</span>
														<h2>{{ "{{" }} boilKettlePower.latest/1000. | number : 1}}kW</h2>
													</div>
													<div class="mini-card-right">
														<div class="bemat-mini-chart bemat-mini-chart-primary">
															<span class="peity-line">5,3,9,6,5,9,7,3,5,8</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body no-padding">
												<div class="mini-card mini-card-primary">
													<div class="mini-card-left">
														<span>Energy Consumption</span>
														<h2>{{ "{{" }} systemEnergy.latest | number : 1}}Wh ({{ "{{" }} systemEnergyCost.latest | currency : "$"}})</h2>
													</div>
													<div class="mini-card-right">
														<div class="bemat-mini-chart bemat-mini-chart-primary">
															<span class="peity-line">5,3,9,6,5,9,7,3,5,8</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body no-padding">
												<div class="mini-card mini-card-primary">
													<div class="mini-card-left">
														<span>Boil Kettle Temperature</span>
														<h2>{{ "{{" }} boilTemperatureActual.latest | number : 1}}&deg;F ({{ "{{" }} boilTemperatureSetPoint.latest | number: 1 }}&deg;F)</h2>
													</div>
													<div class="mini-card-right">
														<div class="bemat-mini-chart bemat-mini-chart-primary">
															<span class="peity-line">5,3,9,6,5,9,7,3,5,8</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="panel panel-default">
											<div class="panel-body no-padding">
												<div class="mini-card mini-card-warning">
													<div class="mini-card-left">
														<span>Mash Tun Temperatuer</span>
														<h2>{{ "{{" }} mashTemperatureActual.latest | number : 1}}&deg;F ({{ "{{" }} mashTemperatureSetPoint.latest | number: 1 }}&deg;F)</h2>
													</div>
													<div class="mini-card-right">
														<div class="bemat-mini-chart bemat-mini-chart-primary">
															<span class="peity-line">5,3,9,6,5,9,7,3,5,8</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>								
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Power</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="layout layout-align-center-vertical">
											<div id="dutycycledial" class="bemat-pie-chart height-5" data-toggle="simple-pie-chart" data-percent="0"  data-size="250" data-type="primary"></div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						

						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Heating Element Status</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="layout layout-align-center-vertical">
											<button type="button" class="btn btn-lg" ng-class="heatingElementStatus.latest ? 'btn-danger' : 'btn-info'" ng-attr-data-toggle="heatingElementStatus.latest" ng-click="toggleHeatingElementStatus()">
												{{"{{"}}	 heatingElementStatus.latest ? "ON" : "OFF" }}
											</button>
											<button type="button" class="btn btn-lg" ng-if="heatingElementOverride.latest" ng-class="heatingElementOverride.latest ? 'btn-danger' : 'btn-info'" ng-attr-data-toggle="heatingElementOverride.latest" ng-click="toggleHeatingElementOverride()">
												{{"{{"}}	 heatingElementOverride.latest ? "OVERRIDDEN" : "RELEASED" }}
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="panel panel-default">
									<div class="panel-heading">
										<header>Pump Status</header>
									</div>
									<div class="panel-body no-top-padding">
										<div class="layout layout-align-center-vertical">
											<div class="height-5">
												<svg width="100" height="100">
													<circle class="success" cx="35" cy="35" r="30"/>
												</svg>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="panel panel-default panel-divider">
									<div class="panel-heading">
										<header>Your Task List</header>
									</div>
									<div class="panel-body no-padding">
										<div class="tasks-list height-5" data-toggle="subheader">
											<section>
												<div class="list-subheader" data-mode="sticky">To Do Tasks</div>
												<ul class="list">
													<li class="list-item list-1-line" ng-repeat="task in tasks">
														<div class="list-icon"><input class="checkbox checkbox-primary" type="checkbox" /></div>
														<div class="list-item-text layout-column"><h3>{{"{{"}}task.name}}</h3></div>
														<button type="button" class="secondary-container btn btn-default btn-icon-toggle" data-toggle="tooltip" data-placement="left" title="Delete Task"><i class="material-icons">delete</i></button>
													</li>
												</ul>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>


					</section><!-- /#page-content -->

				</section><!-- /#right-content -->
			</section><!-- /#right-content-wrapper -->

		</div>


		<!-- Core Scripts - Include with every page -->
		<script src="{{ static_url("js/lib/jquery-1.10.2.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("js/lib/jquery-ui.custom.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("js/lib/bootstrap.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("js/lib/modernizr-2.6.2-respond-1.1.0.min.js") }}" type="text/javascript"></script>

		<script src="{{ static_url("js/third-party/angular.min.js") }}"></script>

		<!-- Page-Level Plugin Scripts - Dashboard -->
		<script src="{{ static_url("vendor/google-code-prettify/prettify.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/perfectscrollbar/perfect-scrollbar.jquery.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/iCheck/icheck.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/bootstrap-select/bootstrap-select.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/DataTables/js/jquery.dataTables.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/DataTables/js/dataTables.bootstrap.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/DataTables/js/dataTables.bootstrap.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/fullscreen/jquery.fullscreen-min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/fullcalendar/moment.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/fullcalendar/fullcalendar.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/sparkline/jquery.sparkline.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/peity/jquery.peity.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/chartist/chartist.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/summernote/summernote.min.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/ckeditor/ckeditor.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/wysihtml5/bootstrap3-wysihtml5.all.min.js") }}" type="text/javascript"></script>

		<!-- Cerocreativo Plugins -->
		<script src="{{ static_url("vendor/materialRipple/jquery.materialRipple.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/snackbar/jquery.snackbar.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/toasts/jquery.toasts.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/speedDial/jquery.speedDial.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/circularProgress/jquery.circularProgress.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/linearProgress/jquery.linearProgress.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/subheader/jquery.subheader.js") }}" type="text/javascript"></script>
		<script src="{{ static_url("vendor/simplePieChart/jquery.simplePieChart.js") }}" type="text/javascript"></script>

		<!-- Bemat Admin Scripts - Included with every page -->		
		<script src="{{ static_url("js/bemat/bemat-admin-common.min.js") }}"></script>
		<script src="{{ static_url("js/bemat/bemat-admin-demo.min.js") }}"></script> 

		<script src="{{ static_url("js/bemat/bemat-admin-demo-chartist.min.js") }}"></script>
		<script src="{{ static_url("js/bemat/bemat-admin-demo-dashboard.min.js") }}"></script>
		
		<script src="{{ static_url("js/third-party/underscore-min.js") }}"></script>
		
		<script src="{{ static_url("js/app/dashboard.js") }}" type='text/javascript'> </script>
	</body>
</html>