<aside id="left-content" data-toggle="open" data-default="open" data-size="">
	<header class="header-container">
		<div class="header-wrapper">
			<div id="header-brand">
				<div class="logo padding-left-2">
					<span class="logo-image">J</span>
					<span class="logo-text">Joule</span>
				</div>
			</div>
		</div>
	</header>
	<div id="sidebar-wrapper">
		<div id="userbox">
			<div id="useravatar">
				<div class="avatar-thumbnail">
					<img src="{{ static_url("img/avatar.png") }}" class="img-circle"/>
				</div>
			</div>

			<div id="userinfo">
				<div class="btn-group">
					<button type="button" class="btn btn-default-bright btn-flat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe <i class="material-icons">arrow_drop_down</i>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#"><i class="material-icons">person</i>Your Profile</a></li>
						<li><a href="#"><i class="material-icons">settings</i>Settings</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="material-icons">lock</i> Lock</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="material-icons">exit_to_app</i> Log Out</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- END: #userbox -->


		<nav id="sidebar">
			<ul>
				<li>
					<a href="">
						<span class="menu-item-ico"><i class="material-icons">dashboard</i></span>
						<span class="menu-item-name">Dashboard</span>
					</a>
				</li>
				<li>
					<a href="recipes">
						<span class="menu-item-ico"><i class="material-icons">collections_bookmark</i></span>
						<span class="menu-item-name">Recipies</span>
					</a>
				</li>
				<li>
					<a href="configuration">
						<span class="menu-item-ico"><i class="material-icons">settings</i></span>
						<span class="menu-item-name">Configuration</span>
					</a>
				</li>
			</ul>
		</nav><!-- END: nav#sidebar -->	
	</div>
</aside>